* {
    margin: 0;
    padding: 0;
}

.light {
    background: linear-gradient(to right,#d4dcff , #7d83ff, #007fff);
    text-align: center;
}

.dark {
    background: linear-gradient(to right, #2a0a11, #110e15, #000000);
    text-align: center;
    color: white;
}


.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    background-color: #e4e3e9;
    color: #590925;
}

#reset-but {
    margin-right: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.resetLight {
    background-color: #1affd5;
    color:#590925;
}

.resetDark {
     background-color: #ffb6b3;
     color: #4c0606;
}

#darklight{
    padding: 1rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#newGame {
    padding: 0.5rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 1rem;
}

#msg {
    font-size: 5vmin;
    padding-bottom: 1rem;
}

.msg-container {
    height: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}

.turn {
    height: 10vmin;
    width: 25vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 200;
    border: 1px solid #590925;
}

.o {
    height: 100%;
    width: 50%;
   border-right: 1px solid #590925;
   display: flex;
   justify-content: center;
   align-items: center;
   border-top-left-radius: 1rem ;
   border-bottom-left-radius: 1rem;
}

.x {
    height: 100%;
    width: 50%;
   border-left: 1px solid #590925;
   display: flex;
   justify-content: center;
   align-items: center;
   border-top-right-radius: 1rem ;
   border-bottom-right-radius: 1rem;
}

.turnl {
    background-color: #e4e3e9;
    color: #590925;
}

.hovereff:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(89, 9, 37, 0.5);
}

.hovereffD:hover {
    transform: scale(1.1);
    box-shadow: 0  0 15px rgba(255, 182, 179, 0.5);
}