* {
    margin: 0;
    padding: 0;
}

.light {
    background: linear-gradient(to right,#d4dcff , #7d83ff, #007fff);
    text-align: center;
}

.dark {
    background: linear-gradient(to right, #2a0a11, #110e15, #000000);
    text-align: center;
    color: white;
}


.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    background-color: #e4e3e9;
    color: #590925;
}

#reset-but {
    padding: 1rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 1rem;
}

.resetLight {
    background-color: #1affd5;
    color:#590925;
}

.resetDark {
     background-color: #ffb6b3;
     color: #4c0606;
}

#darklight{
    padding: 1rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 1rem;
}

